<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<clear />

		<add key="IndexDbPath" value="C:\Users\duanxin\Documents\My Knowledge\Data\xxinduan@hotmail.com\index.db" />
		<add key="DefaultFolder" value="/My Notes" />

	</appSettings>
</configuration>