<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.14.0" targetFramework="net461" />
  <package id="cef.redist.x64" version="83.4.2" targetFramework="net461" />
  <package id="cef.redist.x86" version="83.4.2" targetFramework="net461" />
  <package id="CefSharp.Common" version="83.4.20" targetFramework="net461" />
  <package id="CefSharp.WinForms" version="83.4.20" targetFramework="net461" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net461" />
  <package id="System.Text.Encoding.CodePages" version="4.5.0" targetFramework="net461" />
</packages>