<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<clear />
		<add key="ZeroDownHomeUrl" value="https://www.0daydown.com"/>
		<add key ="ZeroDownPageUrlPattern" value="0daydown.com/[\d]+/.+\.html"/> <!--页面URL匹配-->

		<add key="IndexDbPath" value="E:\MyWinDoc\My Knowledge\Data\xxinduan@dxurd.local\index.db" />
		<add key="DefaultFolder" value="/My Notes" />
		<add key="SearchInterval" value="15"/>
		<add key="MaxSearchPage" value="10"/>
		<add key="proxy-server" value=""/>
	</appSettings>
</configuration>