<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<clear />

		<add key="WizIndexDbPath" value="E:\MyWinDoc\My Knowledge\Data\xxinduan@dxurd.local\index.db" />
		<add key="MyPageTempPath" value="E:\MyWinDoc\My pages\temp\"/>
		<add key="MyPageSettingPath" value="D:\programs\_mytool\myPages\"/>

	</appSettings>
</configuration>